.filter {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 2rem;
}

label {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 4rem;
}

input {
    margin: 0 auto;
    padding: 1rem;
    height: 2rem;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
    background-color: #d8d8d8;
    font-size: 1.2rem;
}